<script>
$(function() {
  $( "#selectable" ).selectable();
});

$(document).ready(function(){
  
  function synchronizeSelection() {
    // iterate over each selected <li> element
    $(".ui-selected").each(function(){
      // find the map ID
      var mapId = $(this).find("span.mapId").html();
      
      // debug
      alert(mapId);
      
      // synchronize the multiple select box
      $("#collection_map_ids option[value='" + mapId + "']:first")[0].selected = true;
    });
  }
  
  $("#new_collection, .edit_collection").submit(function(){
    synchronizeSelection();
    return true;
  });
  
});
</script>

<style>
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected {   background-color: #5ca7cc; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; }
</style>


<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
</p>    
<p>
    <%= f.label :description, :class => "slideDown" %> <em>(Click to add one...)</em> <br />
    <%= f.text_area :description, :class => "hiddenElement" %>
</p>
    
    <h3>Select Maps for this Collection</h3>
    
    <p>Click or drag across maps to select. Hold <code>Ctrl</code> or <code>Cmd</code> to select multiple)</p>
    <div class="">
      
      <!-- This is hidden until I can figure out how to sync with collection sync -->
      <ol id="selectable">
        <% for map in current_user.maps %>
          <li class="ui-state-default, singleMapContainer">
            <div class="singleMapInfo">
              <span class="mapId" style="display:none;"><%= map.id %></span>
              <strong><%= map.title %></strong><br>
              <%= map.creation_date %><br>
              <%= image_tag(map.thumbnail_url) %>
            </div>
          </li>
        <% end %>
      </ol>
      <br style="clear:both;">
    </div>

<p>
    <%= collection_select :collection, 
        :map_ids, 
        @collection.user.maps, 
        :id,
        :title, 
        { :selected => @collection.map_ids }, { :class => "map_select", :multiple => true, :size => '10', :name => 'collection[map_ids][]' }
    %>
</p>
<p>
    <%= f.label "Should this collection be public?" %> <i>(Non-public maps will still be hidden)</i>&nbsp;
    <%= f.check_box :public, :checked => true %>
</p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
