<h1>Collections</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Maps</th>
    <th>Created</th>
    <th>User</th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%= link_to collection.title, collection %></td>
    <td><%= collection.maps.count %></td>
    <td><%= collection.creation_date %></td>
    <td><%= link_to collection.user.username, collection.user %></td>
  </tr>
<% end %>
</table>

<br />

<div class="pseudoButton"><%= link_to 'New Collection', new_collection_path %></div>
