<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @collection.title %>
</p>

<p>
  <b>Description:</b>
  <%= @collection.description %>
</p>

<p>
  <b>Creation date:</b>
  <%= @collection.creation_date %>
</p>

<p>
  <b>Edit date:</b>
  <%= @collection.edit_date %>
</p>

<p>
  <b>Public:</b>
  <%= @collection.public %>
</p>


<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
