<h1><%= @collection.title %></h1>

<p>This is a collection created by <%= link_to @collection.user.username, @collection.user %>, <%= time_ago_in_words(@collection.creation_date) %> ago.</p>

<% for map in @collection.maps %>
  <%= render :partial => "maps/thumbnail", :locals => { :map => map } %>
<% end %>

<br style="clear:both;">

<% if @collection.user == current_user %>
  <div class="pseudoButton" style="float:left;">
    <%= link_to "Edit", edit_collection_path(@collection) %>
  </div>
  
  <div class="pseudoButton" style="float:left;">
<%= link_to 'Delete', collection_path(@collection), :method => :delete, :confirm => "Are you sure you want to delete this Collection? Your maps will not be deleted." %>
  </div>
  <br style="clear:both;">
<% end %>