<%= form_for(@control_point) do |f| %>
  <% if @control_point.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@control_point.errors.count, "error") %> prohibited this control point from being saved:</h2>
    <ul>
    <% @control_point.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :readonly => true %>
  </p>
  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label, :readonly => true  %>
  </p>
  <p>
    <%= f.label :geonames_uri %><br />
    <%= f.text_field :geonames_uri, :readonly => true  %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat, :readonly => true  %>
  </p>
  <p>
    <%= f.label :lng %><br />
    <%= f.text_field :lng, :readonly => true  %>
  </p>
  <p>
    <%= f.label :x %><br />
    <%= f.text_field :x%>
  </p>
  <p>
    <%= f.label :y %><br />
    <%= f.text_field :y %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>