<p class="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @control_point.name %>
</p>
 
<p>
  <b>Label:</b>
  <%= @control_point.label %>
</p>
 
<p>
  <b>GeoNames URI:</b>
  <%= @control_point.geonames_uri %>
</p>

<p>
  <b>Latitude:</b>
  <%= @control_point.lat %>
</p>

<p>
  <b>Longitude:</b>
  <%= @control_point.lng %>
</p>

<p>
  <b>X:</b>
  <%= @control_point.x %>
</p>

<p>
  <b>Y:</b>
  <%= @control_point.y %>
</p>
 
 
<%= link_to 'Edit', edit_map_control_point_path(@control_point.map, @control_point) %> |
<%= link_to 'Back', map_control_points_path(@control_point.map) %>