<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tileset_url %><br />
    <%= f.text_field :tileset_url %>
  </div>
  <div class="field">
    <%= f.label :views %><br />
    <%= f.text_field :views %>
  </div>
  <div class="field">
    <%= f.label :upload_date %><br />
    <%= f.date_select :upload_date %>
  </div>
  <div class="field">
    <%= f.label :edit_date %><br />
    <%= f.date_select :edit_date %>
  </div>
  <div class="field">
    <%= f.label :map_date %><br />
    <%= f.date_select :map_date %>
  </div>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
