<p id="notice"><%= notice %></p>

<h1><%= @map.title %></h1>

<div id="viewer">
  <img src="<%= @map.tileset_url %>/TileGroup0/0-0-0.jpg"/>
</div>

<hr>

<div id="detailInfo">
  <div id="detailInfoFirst">
  <table>
    <tr>
      <td class="left">
        <div class="detailInfoObject"><strong>Title:</strong> <%= @map.title %></div>
      </td>
      <td class="right">
        <div class="detailInfoObject"><strong>Uploaded by: </strong> <%= link_to "#{@map.user.username}", @map.user %></div>
      </td>
    </tr>
    <tr>
                  <td class="left">
                    <div class="detailInfoObject">
                      <strong>Description:</strong>
                      <%= @map.description %>
                    </div>
                  </td>
                  <td class="right">
                    <div class="detailInfoObject "> </div>
                  </td>
                </tr>  
  </table>
  </div>
</div>

<div id="annotations">
  <div class="pseudoButton"><%= link_to "Create a new annotation", new_annotation_path %></div>
  <ul>
    <% for annotation in @map.annotations %>
      <li><%= link_to annotation.title, annotation %></li>
    <% end %>
  </ul>
</div>
