<h1><%= @map.title %></h1>

<div id="viewer">
  <img src="<%= @map.tileset_url %>/TileGroup0/0-0-0.jpg"/>
</div>

<hr>


<div id="detailInfo">
  <h2>Details</h2>
  <div id="detailInfoFirst">
  <table>
    
    <tr>
      <td class="left">
        <div class="detailInfoObject"><strong>Title:</strong> <%= @map.title %></div>
      </td>
      <td class="right">
        <div class="detailInfoObject"><strong>Uploaded by: </strong> <%= link_to "#{@map.user.username}", @map.user %></div>
      </td>
    </tr>
    
    <tr>
      <td class="left">
        <div class="detailInfoObject">
          <strong>Description:</strong>
          <%= @map.description %>
        </div>
      </td>
      <td class="right">
        <div class="detailInfoObject "><strong>Uploaded at: </strong> <%= @map.creation_date %></div>
      </td>
    </tr>  
  </table>
  </div>
  
  <% if current_user == @map.user %>
    <div class="pseudoButton">
    <%= link_to 'Edit this map', edit_map_path(@map) %>
    </div>
  <% end %>
  
</div>


<hr>
<h2>Annotations</h2>
<div id="annotations">
  <ul>
    <% for annotation in @map.annotations %>
      <li><%= link_to annotation.title, annotation %>, by <%= link_to annotation.user.username, annotation.user %> at <%= annotation.edit_date %></li>
    <% end %>
  </ul>
  
  <div class="pseudoButton"><%= link_to "Create a new annotation", new_map_annotation_path(@map) %></div>
</div>
