<%= javascript_include_tag params[:controller] %>
<%= javascript_tag do %>
function initOpenLayers() {
  window.annotation_view = new MapHub.AnnotationView(
      <%= @map.width %>,
      <%= @map.height %>,
      "<%= @map.tileset_uri + '/' %>",
      "<%= map_annotations_url(@map, :format => :json) %>",
      "<%= map_control_points_url(@map, :format => :json) %>",
      <%= user_signed_in? ? "true" : "false" %>
  );
}
$(document).ready(function(){
  initOpenLayers();
  window.tagging_view = new MapHub.TaggingView(
    "<%= annotation_tag_find_url('') %>"
  );
});
<% end %>

<!-- TODO: check if Fluid Layout (http://twitter.github.com/bootstrap/scaffolding.html) suits better for this view-->
<div class="row">
  <div id="annotation-selected">
  <p id="notice"><%= notice %></p>
  
  <div class="span12">
    <div class="row">
      
      <!-- Map View -->
      <div class="span8">
        <div id="viewer" class="span8" style="height:600px;"></div>
      </div>
      
      <!-- Right column-->
      <div class="span4">
        
        <% if user_signed_in? %>
        <div id="control-toggle">
          <div class="btn-group" data-toggle="buttons-radio">
            <button class="btn btn-primary" id="control-toggle-navigate" value="none">Navigate</button>
            <button class="btn" id="control-toggle-annotation">Annotate</button>
            <button class="btn" id="control-toggle-control-point" value="point">Control Point</button>
          </div>
          <br>
          <div id="control-toggle-annotation-types" class="btn-group" data-toggle="buttons-radio">
            <button class="btn" value="polygon">Polygon</button>
            <button class="btn" value="line">Line</button>
            <button class="btn" value="box">Box</button>
          </div>
        </div>
        <% else %>
        <div class="alert alert-info">You need to be <%= link_to 'signed in', new_user_session_path %> in order to create annotations and control points for this map!</div>
        <% end %>
        <br>
        <h4><%= @map.title %></h4><br>
        <strong>Subject: </strong><%= @map.subject %><br>
        <strong>Author: </strong><%= @map.author %><br>
        <strong>Date: </strong><%= @map.date %>

        <hr>

        <h4>Geography</h4>
        <p>
          <strong>Control Points:</strong>
          <span id="control-points-count">
            <%= @map.control_points.count %></span>&nbsp;
            <a id="control-points-count-link" href="<%= map_control_points_url(@map) %>" style="<%= 'display:none;' if @map.control_points.count == 0 %>">
              (show all)
            </a>
        </p>

      </div>
      
    </div>
  </div>
  </div> <!-- end: #annotation-selected -->
</div> <!-- end: .row -->

<div class="row">
  <div class="span8">
    <h3 id="annotations-header" style="<%= 'display:none;' if @map.annotations.count == 0 %>">Annotations <small><%= link_to "show all", map_annotations_path(@map) %></small></h3>
    <table class="table table-striped" id="annotation-table">
      <% for annotation in @map.annotations.order("updated_at").limit(10).reverse %>
        <%= render :partial => "annotations/single_annotation_table_row", :locals => { :annotation => annotation } %>
      <% end %>
    </table>
  </div>
</div>

<!-- Modal dialogs -->

<div class="modal hide" id="modal-annotation">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Add Annotation</h3>
  </div>
  <%= form_for([@map, Annotation.new], :remote => true ) do |f| %>
    <div class="modal-body">
      <p>
        <%= f.text_area :body, :cols => 80, :rows => 10, :style => "width: 500px" %>
      </p>
      <%= f.text_field :wkt_data, :style => "display:none" %>
      <h4>Tags</h4>
      <div id="modal-annotation-tags" class="tags-list">
        <span id="no-tags"><em>Write some text to generate matching tags for this annotation &hellip;</em></span>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Save annotation", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="modal hide" id="modal-control-point">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Add Control Point</h3>
    </div>
    <%= form_for([@map, ControlPoint.new], :remote => true, :class => 'floatLeft') do |f| %>
         
      <%= f.text_field :name, :style => "display:none" %>
      <%= f.text_field :geonames_id, :style => "display:none" %>
      <%= f.text_field :geonames_label, :style => "display:none" %>
      <%= f.text_field :lat, :style => "display:none" %>
      <%= f.text_field :lng, :style => "display:none" %>
      <%= f.text_field :x, :style => "display:none" %>
      <%= f.text_field :y, :style => "display:none" %>
      <div class="modal-body">
        <p>Enter a location that belongs to this point: <br/>
        <input name="place-search" id="place-search" size="40"/></p>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save control point", :class => "btn btn-primary" %>
      </div>
    <% end %>
</div>

<div class="modal hide" id="modal-annotation-confirm">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Add Annotation</h3>
  </div>
  <div class="modal-body">
    <p>Your annotation has been successfully added to this map.</p>
  </div>
  <div class="modal-footer">
    <a id="modal-annotation-confirm-close" href="#" class="btn btn-primary">OK</a>
  </div>
</div>

<div class="modal hide" id="modal-control-point-confirm">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Add Control Point</h3>
  </div>
  <div class="modal-body">
    <p>Your control point has been successfully added to this map.</p>
  </div>
  <div class="modal-footer">
    <a id="modal-control-point-confirm-close" href="#" class="btn btn-primary">OK</a>
  </div>
</div>