<%= javascript_include_tag params[:controller] %>
<%= javascript_tag do %>
function initOpenLayers() {
  window.annotation_view = new MapHub.AnnotationView(
      <%= @map.width %>,
      <%= @map.height %>,
      "<%= @map.tileset_uri + '/' %>",
      "<%= map_annotations_url(@map, :format => :json) %>",
      <%= user_signed_in? ? "true" : "false" %>
  );
}
$(document).ready(function(){
  initOpenLayers();
});
<% end %>

<!-- map and metadata box-->
<div class="row">
  <p id="notice"><%= notice %></p>
  
  <div class="span12">
    <div class="row">
      <div class="span8">
        <div id="viewer" class="span8" style="height:600px;"></div>
      </div>
      <div class="span4">
        <h4><%= @map.title %></h4>
        <p><%= @map.subject %></p>
      </div>
      <div class="span4" style="padding-top:20px">
        <div class="well">
          <h4>Current Annotation</h4>
          <div id="annotation-selected">
            <!-- annotations will be appended here through JS -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
  <h3>Annotations <small><%= link_to "see all ...", map_annotations_url(@map.id) if @map.annotations.count > 0 %></small></h3>
  <% if not user_signed_in? %>
    <%= link_to 'Log in', new_user_session_path, :class => "btn" %> to create annotations.
  <% end %>
    <ul id="annotation-list">
      <% for annotation in @map.annotations.order("updated_at").limit(10).reverse %>
        <li><%= render :partial => "annotations/single_annotation", :locals => { :annotation => annotation } %></li>
      <% end %>
    </ul>
  </div>
</div>



<div class="modal hide" id="modal-annotation">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Add Annotation</h3>
  </div>
  <%= form_for([@map, Annotation.new], :remote => true ) do |f| %>
    <div class="modal-body">
      <p>
        <%= f.text_area :body, :cols => 80, :rows => 10, :style => "width: 500px" %>
      </p>
      <%= f.text_field :wkt_data, :style => "display:none" %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Save annotation", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="modal hide" id="modal-control-point">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Add Control Point</h3>
    </div>
    <%= form_for([@map, ControlPoint.new], :remote => true, :class => 'floatLeft') do |f| %>
         
      <%= f.text_field :name, :style => "display:none" %>
      <%= f.text_field :label, :style => "display:none" %>
      <%= f.text_field :geonames_uri, :style => "display:none" %>
      <%= f.text_field :lat, :style => "display:none" %>
      <%= f.text_field :lng, :style => "display:none" %>
      <%= f.text_field :x, :style => "display:none" %>
      <%= f.text_field :y, :style => "display:none" %>
      <div class="modal-body">
        <p>Enter a location that belongs to this point: <br/>
        <input name="place-search" id="place-search" size="40"/></p>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save control point", :class => "btn btn-primary" %>
      </div>
    <% end %>
</div>