<%= javascript_include_tag "OpenLayers" %>
<%= javascript_include_tag "maphub/annotation_user_interaction" %>
<%= javascript_include_tag "maphub/annotation_tooltip" %>
<%= javascript_include_tag "maphub/annotation_view" %>
<script type="text/javascript">

// this function is called when the document is loaded
$(document).ready(function(){
  window.annotation_view = new MapHub.AnnotationView(
    <%= @map.width %>,
    <%= @map.height %>,
    "<%= @map.tileset_url + '/' %>",
    "<%= map_annotations_url(@map, :format => :json) %>",
    <%= user_signed_in? ? "true" : "false" %>
  );
});

</script>

<div id="viewer"></div>
<br style="clear:both;"/>

<div id="mapDetails">
  
  <div class="floatLeft halfSize">  
  <h1><%= @map.title %> <small>by <%= link_to @map.user.username, @map.user %></small></h1>
  <p>This map was uploaded <%= time_ago_in_words @map.created_at %> ago, last edited <%= time_ago_in_words @map.updated_at %> ago.</p>
  
  <% unless @map.description.empty? %>
    <blockquote>
      <%=  @map.description %>
    </blockquote>
  <% end %>
  
  </div>
  
  <div class="floatRight tools">  
      <%= render :partial => "users/badge", :locals => { :user => @map.user } %>
      <br style="clear:both;">
      <% if current_user == @map.user %>
      <%= link_to 'Edit this map', edit_map_path(@map) %><br>
      <%= link_to 'Delete', map_path(@map), :method => :delete, :confirm => "Are you sure you want to delete this map?" %>
      <% end %>
  </div>
  
</div>  


<br style="clear:both;">

<hr>

<div id="annotations" class="halfSize floatLeft">
  <h2>Annotations <small><%= link_to "(Show all...)", map_annotations_path(@map) %></small></h2>
  <ul id="annotationList">
    <% for annotation in @map.annotations.order("updated_at").reverse %>
      <li><%= link_to annotation.title, annotation %>, by <%= link_to annotation.user.username, annotation.user %>, <%= time_ago_in_words(annotation.updated_at) %> ago</li>
    <% end %>
  </ul>
</div>

<div id="annotationOverlays"></div>

<br style="clear:both;">

<div id="slideUpBar" style="display:none;">
  <div id="slideUpBarContent">
    <div class="floatRight">
      <h2>Add a new Annotation ... </h2>
      <p>
        What do you want to annotate about the area you marked?
      </p>
      <p>
        Please enter a short, descriptive title and a body for your new Annotation. When you're done, click "Add Annotation".
      </p>
    </div>
    <%= form_for([@map, Annotation.new], :remote => true, :class => 'floatLeft' ) do |f| %>
        <p>
          <%= f.label :title %><br/>
          <%= f.text_field :title, :size => 55 %>
        </p>
        <p>
          <%= f.label :body %><br/>
          <%= f.text_area :body, :cols => 40, :rows => 5 %>
        </p>
        <input type="button" value="Cancel" id="buttonCancel"/>
        <%= f.submit "Add Annotation" %>
        <%= f.text_field :wkt_data, :hidden => true %>
    <% end %>
    </div>
  </div>
</div>

