<%= javascript_include_tag "OpenLayers" %>
<%= javascript_include_tag "maphub/annotation_user_interaction" %>
<%= javascript_include_tag "maphub/annotation_tooltip" %>
<%= javascript_include_tag "maphub/annotation_view" %>
<script type="text/javascript">

// this function is called when the document is loaded
$(document).ready(function(){
  window.annotation_view = new MapHub.AnnotationView(
    <%= @map.width %>,
    <%= @map.height %>,
    "<%= @map.tileset_url + '/' %>",
    "<%= map_annotations_url(@map, :format => :json) %>",
    <%= user_signed_in? ? "true" : "false" %>
  );
  
  // functions for geonames lookup
  // TODO: Move this somewhere else
  $('input#placeSearch').autocomplete({
    source: function( request, response ) {
        $.ajax({
          url: "http://ws.geonames.org/searchJSON",
          dataType: "jsonp",
          data: {
            featureClass: "P",
            style: "full",
            maxRows: 12,
            name_startsWith: request.term
          },
          success: function( data ) {
            response( $.map( data.geonames, function( item ) {
              return {
                label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                value: item.name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        // what to do when it's selected
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
  });
  
  $('input#placeSearchController').autocomplete({
    source: function( request, response ) {
      $.getJSON(
        "<%= find_map_control_points_url(@map, :format => :json) %>",
        request,
        function(data) {
          response( $.map(data, function(item) {
            return {
              "label" : item.control_point.label,
              "value" : item.control_point.label,
              "data" : item.control_point
            }
          }));
      });
    },
    minLength: 2,
    select: function( event, ui ) {
        $("#control_point_name").attr("value", ui.item.data.geonames_uri);
        $("#control_point_label").attr("value", ui.item.data.label);
        $("#control_point_geonames_uri").attr("value", ui.item.data.geonames_uri);
        $("#control_point_lat").attr("value", ui.item.data.lat);
        $("#control_point_lng").attr("value", ui.item.data.lng);
    }
  });
  
});

</script>

<div id="viewer"></div>
<br style="clear:both;"/>

<div id="mapDetails">
  
  <div class="floatLeft halfSize">  
  <h1><%= @map.title %> <small>by <%= link_to @map.user.username, @map.user %></small></h1>
  <p>This map was uploaded <%= time_ago_in_words @map.created_at %> ago, last edited <%= time_ago_in_words @map.updated_at %> ago.</p>
  
  <% unless @map.description.empty? %>
    <blockquote>
      <%=  @map.description %>
    </blockquote>
  <% end %>
  
  </div>
  
  <div class="floatRight tools">  
      <%= render :partial => "users/badge", :locals => { :user => @map.user } %>
      <br style="clear:both;">
      <% if current_user == @map.user %>
      <%= link_to 'Edit this map', edit_map_path(@map) %><br>
      <%= link_to 'Delete', map_path(@map), :method => :delete, :confirm => "Are you sure you want to delete this map?" %>
      <% end %>
  </div>
  
</div>  


<br style="clear:both;">

<hr>

<div id="annotations" class="halfSize floatLeft">
  <h2>Annotations <small><%= link_to "(Show all...)", map_annotations_path(@map) %></small></h2>
  <ul id="annotationList">
    <% for annotation in @map.annotations.order("updated_at").reverse %>
      <li><%= link_to annotation.title, annotation %>, by <%= link_to annotation.user.username, annotation.user %>, <%= time_ago_in_words(annotation.updated_at) %> ago</li>
    <% end %>
  </ul>
</div>

<div id="annotationOverlays"></div>

<br style="clear:both;">

<div id="slideUpBar" style="display:none;">
  <div class="slideUpBarContent">
    <div class="floatRight">
      <h2>Add a new Annotation ... </h2>
      <p>
        What do you want to annotate about the area you marked?
      </p>
      <p>
        Please enter a short, descriptive title and a body for your new Annotation. When you're done, click "Add Annotation".
      </p>
    </div>

    <%= form_for([@map, Annotation.new], :remote => true, :class => 'floatLeft' ) do |f| %>
      <p>
        <%= f.label :title %><br/>
        <%= f.text_field :title, :size => 55 %>
      </p>
      <p>
        <%= f.label :body %><br/>
        <%= f.text_area :body, :cols => 40, :rows => 5 %>
      </p>
      <%= f.submit "Add Annotation" %>
      <input type="button" value="Cancel" id="buttonCancel"/>
      <%= f.text_field :wkt_data, :hidden => true %>
    <% end %>
  </div>
</div>



<div id="slideUpBarControlPoint" style="display:none;">
  <div class="slideUpBarContent">
    <%= form_for([@map, ControlPoint.new], :remote => true, :class => 'floatLeft') do |f| %>
      <!-- <p>Enter a location: (Geonames lookup)<br/>
      <input name="placeSearch" id="placeSearch" size="40"/></p> -->
      
      <p>Enter a location: (Rails lookup)<br/>
      <input name="placeSearchController" id="placeSearchController" size="40"/></p>
      <%= f.submit "Add Control Point" %>
      <input type="button" value="Cancel" id="buttonCancel"/>
      <%= f.text_field :name, :hidden => true %>
      <%= f.text_field :label, :hidden => true %>
      <%= f.text_field :geonames_uri, :hidden => true %>
      <%= f.text_field :lat, :hidden => true %>
      <%= f.text_field :lng, :hidden => true %>
      <%= f.text_field :x, :hidden => true %>
      <%= f.text_field :y, :hidden => true %>
    <% end %>
  </div>
</div>








