<%= javascript_include_tag "OpenLayers" %>

<script type="text/javascript">

function initAnnotation() {
    $(".new_annotation").hide();
    $("#createNewAnnotation").click(function(){
      $("#annotation_title").attr("value", "");
      $("#annotation_body").attr("value", "");
      $(".new_annotation").slideDown(function(){
        $("#annotation_title").focus();
      });
    });
}

function initZoomify(){
    
    var zoomify_width = <%= @map.width %>;
    var zoomify_height = <%= @map.height %>;
    var zoomify_url = "<%= @map.tileset_url + '/' %>";

    var map, layer, vlayer;

    /* The zoomify layer */
    layer = new OpenLayers.Layer.Zoomify( "Zoomify", zoomify_url, 
        new OpenLayers.Size( zoomify_width, zoomify_height ) );
    
    /* The editing controls layer */
    vlayer = new OpenLayers.Layer.Vector( "Editable" );
    
    /* Display options */
    var options = {
        controls: [], 
        maxExtent: new OpenLayers.Bounds(0, 0, zoomify_width, zoomify_height),
        maxResolution: Math.pow(2, layer.numberOfTiers-1 ),
        numZoomLevels: layer.numberOfTiers,
        units: 'pixels'
    };

    map = new OpenLayers.Map("viewer", options);

    map.addLayer(layer);
    map.addLayer(vlayer);
    
    // map.addControl(new OpenLayers.Control.MousePosition());
    map.addControl(new OpenLayers.Control.PanZoomBar());
    map.addControl(new OpenLayers.Control.MouseDefaults());
    map.addControl(new OpenLayers.Control.KeyboardDefaults());
    
    <% if user_signed_in? %>
    map.addControl(new OpenLayers.Control.EditingToolbar(vlayer));
    <% end %>

    map.setBaseLayer(layer);
    map.zoomToMaxExtent();
};

function init() {
    initAnnotation();
    initZoomify();
}

$(document).ready(function(){
  init();
});


</script>



<h1><%= @map.title %> <small>by <%= link_to @map.user.username, @map.user %></small></h1>

<div id="viewer" border="1pt solid"></div>

<br style="clear:both;">


<div id="mapDetails">

  
  <div class="floatLeft halfSize">  
  
    <p>This map was uploaded <%= time_ago_in_words @map.creation_date %> ago, last edited <%= time_ago_in_words @map.edit_date %> ago.</p>

    
  <% unless @map.description.empty? %>
    <blockquote>
      <%=  @map.description %>
    </blockquote>
  <% end %>
  
  </div>
  
  <div class="floatRight tools">  
      <%= render :partial => "users/badge", :locals => { :user => @map.user } %>
      <br style="clear:both;">
      <% if current_user == @map.user %>
      <%= link_to 'Edit this map', edit_map_path(@map) %><br>
      <%= link_to 'Delete', map_path(@map), :method => :delete, :confirm => "Are you sure you want to delete this map?" %>
      <% end %>
  </div>
  
</div>  


<br style="clear:both;">



<div id="annotations" class="halfSize floatLeft">
  <h2>Annotations <small><%= link_to "(Show all...)", map_annotations_path(@map) %></small></h2>
  <ul id="annotationList">
    <% for annotation in @map.annotations.order("edit_date").reverse %>
      <li><%= link_to annotation.title, annotation %>, by <%= link_to annotation.user.username, annotation.user %>, <%= time_ago_in_words(annotation.edit_date) %> ago</li>
    <% end %>
  </ul>

  <!-- <p><div class="pseudoButton"><%= link_to "Create a new annotation", new_map_annotation_path(@map) %></div></p> -->
  <% if user_signed_in? %>
    <p>
    <div class="pseudoButton">
      <a id="createNewAnnotation">Create a new annotation</a>
    </div>
    </p>
  <% end %>
</div>

<div class="halfSize floatLeft">
<%= form_for([@map, Annotation.new], :remote => true  ) do |f| %>
<h2>New Annotation</h2>
  <p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :body %><br/>
  <%= f.text_area :body, :cols => 40, :rows => 5 %>
  </p>
  <%= f.submit "Add Annotation" %>
<% end %>
</div>

  
<br style="clear:both;">
