<script type="text/javascript">

  $(document).ready(function(){
    $(".new_annotation").hide();
    
    $("#createNewAnnotation").click(function(){
      $(".new_annotation").slideDown(function(){
        $("#annotation_title").focus();
      });
    });
  });

</script>


<h1><%= @map.title %></h1>

<div id="viewer">
  <img src="<%= @map.tileset_url %>/TileGroup0/0-0-0.jpg"/>
</div>

<hr>


<div id="detailInfo">
  <h2>Details</h2>
  <div id="detailInfoFirst">
  <table>
    
    <tr>
      <td class="left">
        <div class="detailInfoObject"><strong>Title:</strong> <%= @map.title %></div>
      </td>
      <td class="right">
        <div class="detailInfoObject"><strong>Uploaded: </strong> <%= link_to "#{@map.user.username}", @map.user %>, <%= time_ago_in_words @map.creation_date %> ago</div>
      </td>
    </tr>
    
    <tr>
      <td class="left">
        <div class="detailInfoObject">
          <strong>Description:</strong>
          <%= @map.description %>
        </div>
      </td>
      <td class="right">
        <div class="detailInfoObject "><strong>Edited: </strong> <%= time_ago_in_words @map.creation_date %> ago</div>
      </td>
    </tr>
  </table>
  </div>
  
  <% if current_user == @map.user %>
    <div class="pseudoButton">
    <%= link_to 'Edit this map', edit_map_path(@map) %>
    </div>
  <% end %>
  
</div>


<hr>
<h2>Annotations <small><%= link_to "(Show all...)", map_annotations_path(@map) %></small></h2>
<div id="annotations">
  <ul>
    <% for annotation in @map.annotations.order("edit_date").reverse %>
      <li><%= link_to annotation.title, annotation %>, by <%= link_to annotation.user.username, annotation.user %>, <%= time_ago_in_words(annotation.edit_date) %> ago</li>
    <% end %>
  </ul>

  <!-- <p><div class="pseudoButton"><%= link_to "Create a new annotation", new_map_annotation_path(@map) %></div></p> -->
  <p>
  <div class="pseudoButton">
    <a href="#" id="createNewAnnotation">Create a new annotation</a>
  </div>
  </p>
  
  <%= form_for([@map, Annotation.new], :remote => true ) do |f| %>
  <h3>New Annotation</h3>
    <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
    </p>
    <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body, :cols => 40, :rows => 5 %>
    </p>
    <%= f.submit "Add Annotation" %>
  <% end %>

</div>
