<%= javascript_include_tag params[:controller] %>



<% if @myself %>
<div class="row">
        <div id="userBox" class="pull-right">
          Hey, <%= @user.username %>, this is you!&nbsp;|&nbsp;
          <a href="#" id="toggle-form">Edit your description</a>
        </div>
</div>
<% end %>

<div class="row">
  <div class="span12"><h1><%= @user.username %></h1></div>
</div>

<div class="row">
  <div id="user-image" class="span2">
    <% if @myself %>
      <%= link_to image_tag(@user.gravatar_url(:size => 150)), "http://gravatar.com" %>
    <% else %>
      <%= image_tag(@user.gravatar_url(:size => 150)) %>
    <% end %>
  </div>

  <div id="user-info-table-container" class="span3"> 
    <table id="user-info-table">
      <tr>
        <td class="user-info-first-col"><strong>Joined:</strong></td>
        <td><%= time_ago_in_words(@user.created_at) %> ago </td>
      </tr>
      <tr>
        <td class="user-info-first-col"><strong>Last seen:</strong></td>
        <td><%= time_ago_in_words(@user.last_sign_in_at) rescue time_ago_in_words(@user.created_at)  %> ago</td>
      </tr>
      <% unless @user.fullname.nil? or @user.fullname.empty? %>
      <tr>
        <td class="user-info-first-col"><strong>Full Name:</strong></td>
        <td><%= @user.fullname %></td>
      </tr>
      <% end %>
      <% unless @user.location.nil? or @user.location.empty? %>
      <tr>
        <td class="user-info-first-col"><strong>Location:</strong></td>
        <td><%= @user.location %></td>
      </tr>
      <% end %>
      <tr>
        <td class="user-info-first-col"><strong>Maps:</strong></td>
    
      </tr>
      <tr>
        <td class="user-info-first-col"><strong>Collections:</strong></td>
    
      </tr>
      <tr>
        <td class="user-info-first-col"><strong>Annotations:</strong></td>
        <td><%= @user.annotations.count %></td>
      </tr>
    </table>
  </div> <!-- userInfoTableContainer -->
  <div id="user-info-text" class="span4 offset3">
    <h3>About me</h3>
    <% if @myself %>
      <!-- Display form if this is our own page -->
      <%= form_for @user, :remote => true do |f| %>
      <%= f.text_area :about_me, :rows => 10, :style => "width:100%" %><br>
      <div class="pull-right">
      <%= f.button "Cancel", :class => "btn", :id => "button-cancel" %>
      <%= f.submit "Update", :class => "btn btn-primary" %>
      </div>
      <% end %>
    <% end %>
      
    <div id="about-myself">
      <% if @user.about_me.nil? %>
        <em>This user hasn't entered a description yet.</em>
      <% else %>
        <%= @user.about_me %>
      <% end %>
    </div>
  </div> <!-- userInfoText -->
</div>
