<script type="text/javascript">
  $(document).ready(function(){
    $(".edit_user").hide();
    
    // If the "Edit your description button" is clicked
    $("#toggleForm").click(function(){
      $('#aboutMyself').hide();
      $(".edit_user").slideDown();
      $("#user_about_me").focus();
    });

  });
</script>

<% if @myself %>
        <div id="userBox">
          Hey, <%= @user.username %>, this is you!&nbsp;|&nbsp;
          <a href="#" id="toggleForm">Edit your description</a>
        </div>
<% end %>

      <h1><%= @user.username %></h1>
      
      <div class="userAvatarLarge">
        <!-- TODO insert avatar -->
      </div>
      
      <div id="userInfoContainer">
        
        <div id="userImage">
          <% if @myself %>
            <%= link_to image_tag(@user.gravatar_url(:size => 120)), "http://gravatar.com" %>
          <% else %>
            <%= image_tag(@user.gravatar_url(:size => 120)) %>
          <% end %>
        </div>
        
        <table id="userInfoTable">
          <tr>
            <td class="firstCol">Joined:</td>
            <td><%= time_ago_in_words(@user.created_at) %> ago </td>
          </tr>
          <tr>
            <td class="firstCol">Last seen:</td>
            <td><%= time_ago_in_words(@user.last_sign_in_at) rescue time_ago_in_words(@user.created_at)  %> ago</td>
          </tr>
          <% unless @user.fullname.nil? or @user.fullname.empty? %>
          <tr>
            <td class="firstCol">Full Name:</td>
            <td><%= @user.fullname %></td>
          </tr>
          <% end %>
          <% unless @user.location.nil? or @user.location.empty? %>
          <tr>
            <td class="firstCol">Location:</td>
            <td><%= @user.location %></td>
          </tr>
          <% end %>
          <tr>
            <td class="firstCol">Maps:</td>
            <td><%= @user.maps.count %></td>
          </tr>
          <tr>
            <td class="firstCol">Collections:</td>
            <td><%= @user.collections.count %></td>
          </tr>
          <tr>
            <td class="firstCol">Annotations:</td>
            <td><%= @user.annotations.count %></td>
          </tr>
        </table>
        
        <div id="userInfoText">
          <% if @myself %>
            <!-- Display form if this is our own page -->
            <%= form_for @user, :remote => true do |f| %>
            <%= f.text_area :about_me, :cols => 55, :rows => 10 %><br>
            <%= f.submit "Update" %>
            <% end %>
          <% end %>
              
          <div id="aboutMyself">
            <% if @user.about_me.nil? %>
              <em>This user hasn't entered a description yet.</em>
            <% else %>
              <%= @user.about_me %>
            <% end %>
          </div>
        </div>
        <br style="clear:both;">
      </div>
      
      <br>
      <hr>
      
      <% if @user.maps.count > 0 %>
        <div style="width: 45%; float:left;">
          <h2>Maps <small><%= link_to "(show all...)", user_maps_path(@user) %></small></h2>
          <%= render :partial => "maps/grid", :locals => { :maps => @user.maps.limit(18) } %>
        </div>
      <% end %>
      <% if @user.collections.count > 0 %>
        <div style="width: 45%; float:left;">
          <h2>Collections <small><%= link_to "(show all...)", user_collections_path(@user) %></small></h2>
          <%= render :partial => "collections/recent", :locals => { :user => @user, :limit => 10 } %>
        </div>
      <% end %>
      <% if @user.annotations.count > 0 %>
        <div style="width: 45%; float:left;">
          <h2>Annotations <small><%= link_to "(show all...)", user_annotations_path(@user) %></small></h2>
          <%= render :partial => "annotations/recent", :locals => { :user => @user, :limit => 10 } %>
        </div>
      <% end %>
      <br style="clear:both;">
      