<script type="text/javascript">
  $(document).ready(function(){
    $(".edit_user").hide();
    
    // If the "Edit your description button" is clicked
    $("#toggleForm").click(function(){
      $('#aboutMyself').hide();
      $(".edit_user").slideDown();
      $("#user_about_me").focus();
    });

  });
</script>

<% if current_user.id == @user.id %>
        <div id="userBox">
          Hey, <%= @user.username %>, this is you!&nbsp;|&nbsp;
          <a href="#" id="toggleForm">Edit your description</a>
        </div>
<% end %>

      <h1><%= @user.username %></h1>
      
      <div class="userAvatarLarge">
        <!-- TODO insert avatar -->
      </div>
      
      <div id="userInfoContainer">
        <table id="userInfoTable">
          <tr>
            <td class="firstCol">Joined:</td>
            <td><%= @user.created_at %></td>
          </tr>
          <tr>
            <td class="firstCol">Last seen:</td>
            <td><%= @user.last_sign_in_at %></td>
          </tr>
          <tr>
            <td class="firstCol">Maps:</td>
            <td><%= @user.maps.count %></td>
          </tr>
          <tr>
            <td class="firstCol">Collections:</td>
            <td><%= @user.collections.count %></td>
          </tr>
          <tr>
            <td class="firstCol">Annotations:</td>
            <td><%= @user.annotations.count %></td>
          </tr>
        </table>
        
        <div id="userInfoText">
          <% if current_user.id == @user.id %>
            <!-- Display form if this is our own page -->
            <%= form_for @user, :remote => true do |f| %>
            <%= f.text_area :about_me, :cols => 55, :rows => 10  %><br>
            <%= f.submit "Update" %>
            <% end %>
          <% end %>
              
          <div id="aboutMyself">
            <%= @user.about_me %>
          </div>
        </div>
        <br style="clear:both;">
      </div>
      
      <br>
      <hr>
      
      <div style="width: 45%; float:left;">
        <h2>Maps</h2>
        <ul>
          <!-- TODO list of maps -->
        </ul>
      </div>
      <div style="width: 45%; float:left;">
        <h2>Collections</h2>
        <ul>
          <!-- TODO list of collections -->
        </ul>
      </div>

      <br style="clear:both;">
      