<!-- <header>
    <div class="hero-unit">
        <p class="lead">View and annotate maps in the Library of Congress Historic Map Collection!</p>
    </div>
</header> -->

<div class="row">
    <div class="span8 offset2" id="top-main">
        <%= render :partial => "maps/carousel" %>        
    </div>
</div>
    
<div class="row">
    <div class="span4">
      <h2 class="first-headers">Top Contributors</h2>
      <%= render :partial => "users/top_contributors" %>
    </div>
    <div class="span4">
      <h2 class="first-headers">Recent Annotations <small><%= link_to "show all", annotations_url %></small></h2>
      <%= render :partial => "annotations/recent" %>
    </div>
    <div class="span4">
      <h2 class="first-headers">Recent Control Points <small><%= link_to "show all", control_points_url %></small></h2>
      <%= render :partial => "control_points/recent" %>
    </div>
</div>
    