<%= form_for([@map, @annotation]) do |f| %>
  <% if @annotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annotation.errors.count, "error") %> while saving this Annotation.</h2>

      <ul>
      <% @annotation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :autofocus => true %>

</p><p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
