<%= form_for(@annotation) do |f| %>
  <% if @annotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annotation.errors.count, "error") %> prohibited this annotation from being saved:</h2>

      <ul>
      <% @annotation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :creation_date %><br />
    <%= f.datetime_select :creation_date %>
  </div>
  <div class="field">
    <%= f.label :edit_date %><br />
    <%= f.datetime_select :edit_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
