<tr id="<%= "annotation-#{annotation.id}" %>">
  <td width="190px">
    <%= render :partial => "users/badge", :locals => { :user => annotation.user } %>
  </td>
  <td>
    <div class="annotation-body">
      <%= simple_format h annotation.body %>
    </div>
    <div class="tags-list">
    <% annotation.tags.each do |t| %>
      <%= render :partial => "tags/single_tag", :locals => { :tag => t } %>
    <% end %>
    </div>
  </td> 
  <td width="80px">
    <p><small><%= time_ago_in_words(annotation.updated_at) %> ago</small></p>
    <% if user_signed_in? and current_user == annotation.user %>
      <small>
      <%= link_to annotation, :confirm => "Are you sure you want to delete your annotation?", :method => :delete, :class => "annotation" do %>
        <i class='icon-trash'></i> Delete
      <% end %>
      </small>
      <%=  %>
    <% end %>
  </td>
</tr>