<h1><%= @annotation.title %> <small>by <%= link_to @annotation.user.username, @annotation.user %></small></h1>

<div id="annotationDetails">

  <div class="floatLeft halfSize">
    <p>This annotation was created <%= time_ago_in_words(@annotation.creation_date) %> ago, last edited  <%= time_ago_in_words(@annotation.edit_date) %> ago.</p>
    
    <% unless @annotation.body.empty? %>
      <blockquote>
        <%=  @annotation.body %>
      </blockquote>
    <% end %>
  </div>
  <div class="floatRight">
    <%= render :partial => "users/badge", :locals => { :user => @annotation.user } %>
      <br style="clear:both;">
      <% if current_user == @annotation.user %>
          <%= link_to 'Edit this annotation', edit_annotation_path(@annotation) %><br>
          <%= link_to 'Delete', annotation_path(@annotation), :method => :delete, :confirm => "Are you sure you want to delete this annotation?" %>
      <% end %>
  </div>
</div>


<br style="clear:both"/>

<div style="padding-top:30px">
<%= render :partial => 'maps/thumbnail', :locals => { :map => @annotation.map } %>
</div>