<h1>Annotation</h1>

<%= render :partial => 'maps/thumbnail', :locals => { :map => @annotation.map } %>
<br style="clear:both">

<p>
  <b>Title:</b>
  <%= @annotation.title %>
</p>

<p>
  <b>Body:</b>
  <%= @annotation.body %>
</p>

<p>
  <b>Created: </b>
  <%= time_ago_in_words(@annotation.creation_date) %> ago
</p>

<p>
  <b>Edited: </b>
  <%= time_ago_in_words(@annotation.edit_date) %> ago
</p>

<% if current_user == @annotation.user %>
<div class="pseudoButton">
<%= link_to 'Edit', edit_annotation_path(@annotation) %>
</div>
<% end %>
