<h1>Annotation</h1>

<%= render :partial => 'maps/thumbnail', :locals => { :map => @annotation.map } %>
<br style="clear:both"/>

<hr>

<h2><%= @annotation.title %></h2>

<p>
  <%= @annotation.body %>
</p>


<hr>

<h2>Details</h2>

<p>
  <b>Created: </b>
  <%= time_ago_in_words(@annotation.creation_date) %> ago
</p>

<p>
  <b>Edited: </b>
  <%= time_ago_in_words(@annotation.edit_date) %> ago
</p>

<% if current_user == @annotation.user %>
<div class="pseudoButton" style="float:left;">
<%= link_to 'Edit', edit_annotation_path(@annotation) %>
</div>

<div class="pseudoButton" style="float:left;">
<%= link_to 'Delete', annotation_path(@annotation), :method => :delete, :confirm => "Are you sure you want to delete this Annotation?" %>
</div>

<% end %>
