<!DOCTYPE html>
<html>
<head>
  <title>MaphubPortal</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="search">
  <!-- TODO: search -->
</div>

<div id="usertools">
  <% if not user_signed_in? %>
      <%= link_to 'Log in', new_user_session_path %> |
      <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>
  <% if user_signed_in? -%>
      <div id="user_login_box" style="float:right">
        Welcome, <%= link_to current_user.username, current_user %> |
        <%= link_to 'Edit Account', edit_user_registration_path %> |
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      </div>
  <% end -%>
  <% if admin_signed_in? -%>
      <div id="admin_login_box" style="float:right">
        <%= current_admin.username %> |
        <%= link_to 'Admin Area', admins_path %> |
        <%= link_to 'Sign out', destroy_admin_session_path %>
      </div>
  <% end -%>  
</div>

<!-- Header text/logo -->
<div id="header">
  <%= link_to 'MapHub', home_index_path %>
</div>

<!-- Navigation -->
<div id="navigation">
  <ul>
    <li><%= link_to 'Home', home_index_path %></li>
    <li><%= link_to 'Maps', maps_path %></li>
    <li><%= link_to 'Collections', collections_path %></li>
    <li><%= link_to 'Annotations', annotations_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <% if user_signed_in? -%>
      <li class="right"><%= link_to 'Upload Map', new_map_path %></li>
    <% end -%>
  </ul>
</div>

<!-- Main contents -->
<div id="main">
  
  <% if not notice.nil? %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if not alert.nil? %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>

</div>

<!-- Footer -->
<div id="footer">
  <div>&copy; 2011 MapHub&nbsp;|&nbsp;Help&nbsp;|&nbsp;Contact&nbsp;|&nbsp;Terms Of Service&nbsp;</div>
</div> <!-- end footer div -->

</body>
</html>
