<h2>Edit my Account Data</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label 'Email' %> <i>(this will only be visible to you!)</i><br />
  <%= f.email_field :email %></p>
  
  <p><%= f.label 'Full Name' %> <i>(optional)</i><br />
  <%= f.text_field :fullname %></p>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Update" %></p>
<% end %>

<p>Unhappy with your account? <%= link_to "Cancel user account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
