<h2>Edit your Account Data</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

<h3>Your Data</h3>

  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label :email, 'Email' %> <i>(this will only be visible to you!)</i><br />
  <%= f.email_field :email %></p>
  
  <p><%= f.label :fullname, 'Full Name' %><br />
  <%= f.text_field :fullname %></p>
  
  <p><%= f.label :Location %><br />
  <%= f.text_field :location %></p>

<h3>Change Password</h3>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

<h3>Your Avatar</h3>

  <p>We don't host our own avatars. If you haven't done so yet, register with <a href="http://gravatar.com">Gravatar</a>. We will then show your Gravatar automatically. Simple as that!</p>

<h3>Password Confirmation</h3>

  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Update", :class => "btn btn-primary" %></p>
<% end %>


<br>
<hr>

<p>Unhappy with your account? No interest in maphub anymore? <%= link_to "Cancel user account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
